*
    box-sizing: border-box

body 
    +reg
    color: $text-color
    font-size: 18px

.container 
    width: 1240px
    margin: auto

.btn 
    background: #9C69E2
    border-radius: 50px
    border: none
    padding: 16px 37px
    cursor: pointer

.main 
    padding-top: 90px
    padding-bottom: 90px

@media (max-width: 1300px)
    .container
        width: 750px
    .main 
        padding-top: 40px
        padding-bottom: 40px

@media (max-width: 768px)
    .container
        max-width: 560px
        width: 85%
    .main 
        padding-top: 20px
        padding-bottom: 20px