@font-face {
  font-family: 'Avenir Next Cyr Bold';
  src: url("../fonts/Avenir/AvenirNextCyr-Bold.eot");
  src: url("../fonts/Avenir/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirNextCyr-Bold.woff") format("woff"), url("../fonts/Avenir/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr Regular';
  src: url("../fonts/Avenir/AvenirNextCyr-Regular.eot");
  src: url("../fonts/Avenir/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/Avenir/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaBold';
  src: url("../fonts/Helvetica/HelveticaBold.eot");
  src: url("../fonts/Helvetica/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaBold.woff") format("woff"), url("../fonts/Helvetica/HelveticaBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Avenir Next Cyr Regular';
  font-weight: 300;
  color: #4B5D68;
  font-size: 18px;
}

.container {
  width: 1240px;
  margin: auto;
}

.btn {
  background: #9C69E2;
  border-radius: 50px;
  border: none;
  padding: 16px 37px;
  cursor: pointer;
}

.main {
  padding-top: 90px;
  padding-bottom: 90px;
}

@media (max-width: 1300px) {
  .main {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .main {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 1300px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
    width: 85%;
  }
}

.navbar {
  padding: 50px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-links {
  margin-right: auto;
  margin-left: 120px;
}

.navbar-links__link {
  text-decoration: none;
  font-family: 'Avenir Next Cyr Regular';
  font-weight: 300;
  color: #4B5D68;
}

.navbar-links__link:not(:last-child) {
  margin-right: 40px;
}

.navbar-btn {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-btn__text {
  margin-right: 20px;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  font-family: 'Avenir Next Cyr Bold';
  font-weight: 900;
}

@media (max-width: 1300px) {
  .navbar-links {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar-btn__text {
    margin-right: 14px;
    font-size: 12px;
  }
}

.hero {
  background: url(../img/hero-bg.png) no-repeat;
  background-position: right top 80px;
  padding-bottom: 100px;
}

.hero__title {
  margin: 0;
  max-width: 645px;
  font-size: 80px;
  line-height: 110%;
  color: #212353;
  font-family: 'HelveticaBold';
  font-weight: 900;
}

.hero__text {
  display: inline-block;
  max-width: 380px;
  font-size: 18px;
  line-height: 160%;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Avenir Next Cyr Regular';
  font-weight: 300;
}

.hero-btn {
  display: block;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  font-family: 'Avenir Next Cyr Bold';
  font-weight: 900;
}

@media (max-width: 1300px) {
  .hero {
    background: none;
  }
  .hero__text {
    max-width: 700px;
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-bottom: 20px;
  }
  .hero__title {
    font-size: 35px;
    line-height: 110%;
    color: #212353;
    font-family: 'HelveticaBold';
    font-weight: 900;
  }
  .hero__text {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .hero-btn {
    width: 80%;
    margin: auto;
  }
}

.info {
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  padding: 65px 100px;
  margin-top: 100px;
}

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info__title {
  max-width: 475px;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
  font-family: 'HelveticaBold';
  font-weight: 900;
}

.info__text {
  display: inline-block;
  max-width: 475px;
  font-size: 18px;
  line-height: 160%;
  font-family: 'Avenir Next Cyr Regular';
  font-weight: 300;
}

@media (max-width: 1300px) {
  .info {
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    padding: 75px 70px;
    margin-top: 70px;
  }
  .info-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info__text {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .info {
    padding: 55px 30px;
  }
  .info-img {
    display: none;
  }
  .info__title {
    font-size: 35px;
  }
}

.features {
  margin-top: 130px;
}

.features__title {
  font-size: 40px;
  line-height: 130%;
  color: #212353;
  text-align: center;
  font-family: 'HelveticaBold';
  font-weight: 900;
}

.features__text {
  display: block;
  max-width: 585px;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  margin: auto;
  margin-bottom: 80px;
  font-family: 'Avenir Next Cyr Regular';
  font-weight: 300;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards-item {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin-bottom: 50px;
  height: 358px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-blue {
  background: url(../img/card-bg1.png) no-repeat right;
}

.card-purple {
  background: url(../img/card-bg2.png) no-repeat right;
}

.card-text {
  margin: 50px;
  margin-top: 0;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__title {
  font-size: 24px;
  line-height: 130%;
  color: #212353;
}

.card__text {
  display: block;
  max-width: 220px;
  font-size: 16px;
  line-height: 160%;
  font-family: 'Avenir Next Cyr Regular';
  font-weight: 300;
}

.card-btn {
  font-size: 16px;
  line-height: 160%;
  border: none;
  padding: 0;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  margin-bottom: 33px;
}

@media (max-width: 1300px) {
  .features {
    margin-top: 100px;
  }
  .features__text {
    max-width: 600px;
    font-size: 22px;
  }
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cards-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 768px) {
  .features__title {
    font-size: 35px;
  }
  .features__text {
    max-width: 400px;
    font-size: 18px;
  }
  .cards-item {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 800px;
    height: 100%;
  }
  .card-blue {
    background: none;
    background-color: rgba(104, 201, 186, 0.1);
    border-radius: 50px;
  }
  .card-purple {
    background: none;
    background-color: rgba(156, 105, 226, 0.1);
    border-radius: 20px;
  }
}
/*# sourceMappingURL=style.css.map */