@font-face {
  font-family: 'Avenir Next Cyr Bold';
  src: url("../fonts/Avenir/AvenirNextCyr-Bold.eot");
  src: url("../fonts/Avenir/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirNextCyr-Bold.woff") format("woff"), url("../fonts/Avenir/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr Regular';
  src: url("../fonts/Avenir/AvenirNextCyr-Regular.eot");
  src: url("../fonts/Avenir/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/Avenir/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaBold';
  src: url("../fonts/Helvetica/HelveticaBold.eot");
  src: url("../fonts/Helvetica/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaBold.woff") format("woff"), url("../fonts/Helvetica/HelveticaBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Avenir Next Cyr Regular';
  font-weight: 300;
  color: #4B5D68;
  font-size: 18px;
}

.container {
  width: 1240px;
  margin: auto;
}

.btn {
  background: #9C69E2;
  border-radius: 50px;
  border: none;
  padding: 16px 37px;
  cursor: pointer;
}

.btn:active, .btn:focus {
  outline: none;
}

.main {
  padding-top: 90px;
  padding-bottom: 90px;
}

@media (max-width: 1300px) {
  .container {
    width: 750px;
  }
  .main {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
    width: 85%;
  }
  .main {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.navbar {
  padding: 50px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-links {
  margin-right: auto;
  margin-left: 120px;
}

.navbar-links__link {
  text-decoration: none;
  font-family: 'Avenir Next Cyr Regular';
  font-weight: 300;
  color: #4B5D68;
}

.navbar-links__link:not(:last-child) {
  margin-right: 40px;
}

.navbar-btn {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-btn__text {
  margin-right: 20px;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  font-family: 'Avenir Next Cyr Bold';
  font-weight: 900;
}

@media (max-width: 1300px) {
  .navbar-links {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar-btn__text {
    margin-right: 14px;
    font-size: 12px;
  }
}

.hero {
  background: url(../img/hero-bg.png) no-repeat;
  background-position: right top 80px;
  padding-bottom: 100px;
}

.hero__title {
  margin: 0;
  max-width: 645px;
  font-size: 80px;
  line-height: 110%;
  color: #212353;
  font-family: 'HelveticaBold';
  font-weight: 900;
}

.hero__text {
  display: inline-block;
  max-width: 380px;
  font-size: 18px;
  line-height: 160%;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Avenir Next Cyr Regular';
  font-weight: 300;
}

.hero-btn {
  display: block;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  font-family: 'Avenir Next Cyr Bold';
  font-weight: 900;
}

@media (max-width: 1300px) {
  .hero {
    background: none;
  }
  .hero__text {
    max-width: 700px;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-bottom: 20px;
  }
  .hero__title {
    font-size: 35px;
    line-height: 110%;
    color: #212353;
    font-family: 'HelveticaBold';
    font-weight: 900;
  }
  .hero__text {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .hero-btn {
    width: 80%;
    margin: auto;
  }
}

.info {
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  padding: 65px 100px;
  margin-top: 100px;
}

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info__title {
  max-width: 475px;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
  font-family: 'HelveticaBold';
  font-weight: 900;
}

.info__text {
  display: inline-block;
  max-width: 475px;
  font-size: 18px;
  line-height: 160%;
  font-family: 'Avenir Next Cyr Regular';
  font-weight: 300;
}

@media (max-width: 1300px) {
  .info {
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    padding: 75px 70px;
    margin-top: 70px;
  }
  .info-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info__text {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .info {
    padding: 55px 30px;
  }
  .info-img {
    display: none;
  }
  .info__title {
    font-size: 35px;
  }
}

.features {
  margin-top: 130px;
}

.features__title {
  font-size: 40px;
  line-height: 130%;
  color: #212353;
  text-align: center;
  font-family: 'HelveticaBold';
  font-weight: 900;
}

.features__text {
  display: block;
  max-width: 585px;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  margin: auto;
  margin-bottom: 80px;
  font-family: 'Avenir Next Cyr Regular';
  font-weight: 300;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards-item {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin-bottom: 50px;
  height: 358px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-blue {
  background: url(../img/card-bg1.png) no-repeat right;
}

.card-purple {
  background: url(../img/card-bg2.png) no-repeat right;
}

.card-text {
  margin: 50px;
  margin-top: 0;
}

.card-info {
  height: 348px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__title {
  font-size: 24px;
  line-height: 130%;
  color: #212353;
}

.card__text {
  display: block;
  max-width: 220px;
  font-size: 16px;
  line-height: 160%;
  font-family: 'Avenir Next Cyr Regular';
  font-weight: 300;
}

.card-btn {
  font-size: 16px;
  line-height: 160%;
  border: none;
  padding: 0;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  margin-bottom: 33px;
}

@media (max-width: 1300px) {
  .features {
    margin-top: 100px;
  }
  .features__text {
    max-width: 600px;
    font-size: 22px;
  }
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cards-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 768px) {
  .features__title {
    font-size: 35px;
  }
  .features__text {
    max-width: 400px;
    font-size: 20px;
  }
  .cards-item {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 1300px;
    height: 100%;
  }
  .card-blue {
    background: none;
    background-color: rgba(104, 201, 186, 0.1);
    border-radius: 50px;
  }
  .card-purple {
    background: none;
    background-color: rgba(156, 105, 226, 0.1);
    border-radius: 50px;
  }
  .card-info {
    max-height: 3000px;
    height: 100%;
  }
  .card__text {
    max-width: 400px;
    font-size: 20px;
  }
  .card-btn .navbar-btn__text {
    font-size: 18px;
  }
}

.testimonials {
  background: #9C69E2;
  border-radius: 50px;
  padding: 90px 90px;
  margin-top: 30px;
}

.testimonials__title {
  font-size: 40px;
  line-height: 130%;
  margin: 0;
  color: #ffffff;
  font-family: 'HelveticaBold';
  font-weight: 900;
}

.slider {
  margin-top: 80px;
}

.slider-item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
          box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border-radius: 20px;
  padding: 50px;
  width: 645px;
  height: 330px;
  margin-right: 10px;
}

.slider-item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider-info {
  max-width: 385px;
}

.slider__img {
  width: 90px;
  height: 90px;
  margin-top: -20px;
  margin-right: 25px;
}

.slider__text {
  font-size: 18px;
  line-height: 160%;
  font-family: 'Avenir Next Cyr Bold';
  font-weight: 900;
}

.slider__quality {
  display: block;
  margin-bottom: 20px;
  color: #9C69E2;
  font-size: 14px;
  line-height: 160%;
  font-family: 'Avenir Next Cyr Regular';
  font-weight: 300;
}

.slider__about {
  font-size: 18px;
  line-height: 180%;
  font-family: 'Avenir Next Cyr Regular';
  font-weight: 300;
}

.arrows {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .slider {
    margin-top: 40px;
  }
  .slider-item {
    max-height: 1000px;
    height: 100%;
  }
  .slider-item-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider__img {
    margin: 0;
    margin-bottom: 20px;
  }
  .slider__about {
    font-size: 16px;
  }
  .testimonials {
    padding: 30px 30px;
  }
  .testimonials__title {
    font-size: 25px;
    margin: auto;
    text-align: center;
  }
}

.footer {
  border-top: 3px solid rgba(156, 105, 226, 0.2);
  padding-top: 100px;
  padding-bottom: 90px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 150px;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 90px;
}

.top__title {
  font-size: 40px;
  line-height: 130%;
  margin: 0;
  margin-bottom: 20px;
  color: #212353;
  font-family: 'Avenir Next Cyr Bold';
  font-weight: 900;
}

.top__text {
  font-size: 18px;
  line-height: 160%;
  font-family: 'Avenir Next Cyr Regular';
  font-weight: 300;
}

.top-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top-pink {
  margin-right: 30px;
  background-color: #F063B8;
  color: #FFF;
  font-family: 'Avenir Next Cyr Bold';
  font-weight: 900;
}

.mid__logo {
  font-size: 20px;
  line-height: 160%;
  color: #212353;
  margin: 0;
  margin-left: 20px;
  font-family: 'HelveticaBold';
  font-weight: 900;
}

.mid-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mid-contacts-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -8px;
}

.mid-contacts-adress {
  display: inline-block;
  font-size: 16px;
  line-height: 180%;
  margin-top: 65px;
  margin-bottom: 20px;
  font-family: 'Avenir Next Cyr Bold';
  font-weight: 900;
}

.mid-contacts-info {
  font-size: 16px;
  line-height: 180%;
  font-family: 'Avenir Next Cyr Regular';
  font-weight: 300;
}

.mid-contacts-info__link {
  display: block;
  text-decoration: none;
  color: #4B5D68;
  margin: 0;
}

.mid-about__title {
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  margin: 0;
  font-family: 'Avenir Next Cyr Bold';
  font-weight: 900;
}

.mid-about-list {
  margin-top: 50px;
  list-style: none;
  padding: 0;
}

.mid-about__item:not(:last-child) {
  padding-bottom: 20px;
}

.mid-about__link {
  text-decoration: none;
  color: #4B5D68;
}

.mid-help__title {
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  margin: 0;
  font-family: 'Avenir Next Cyr Bold';
  font-weight: 900;
}

.mid-help-list {
  margin-top: 50px;
  list-style: none;
  padding: 0;
}

.mid-help__item:not(:last-child) {
  padding-bottom: 20px;
}

.mid-help__link {
  text-decoration: none;
  color: #4B5D68;
}

.mid-social__title {
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  margin: 0;
  font-family: 'Avenir Next Cyr Bold';
  font-weight: 900;
}

.mid-social-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.mid-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9C69E2;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.mid-social__link:not(:last-child) {
  margin-right: 15px;
}

.bottom-copyright {
  font-size: 12px;
  line-height: 180%;
  font-family: 'Avenir Next Cyr Regular';
  font-weight: 300;
}

.bottom-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(156, 105, 226, 0.1);
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

@media (max-width: 1300px) {
  .top-buttons {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-bottom: 30px;
  }
  .footer-bottom {
    margin-top: 50px;
  }
  .top__title {
    font-size: 30px;
  }
  .top-buttons {
    margin-top: 30px;
    width: 100%;
  }
  .top-pink {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .top-btn {
    width: 100%;
  }
  .top-btn__img {
    display: none;
  }
  .top-text {
    font-size: 16px;
    margin: auto;
  }
  .mid-about {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .mid-about__title {
    margin-top: 30px;
  }
  .mid-about-list {
    margin-top: 20px;
  }
  .mid-help {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .mid-help__title {
    margin-top: 30px;
  }
  .mid-help-list {
    margin-top: 20px;
  }
  .mid-social {
    width: 100%;
  }
  .mid-social__title {
    margin-top: 30px;
  }
  .mid-social-imgs {
    margin-top: 20px;
  }
  .bottom-copyright {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .bottom-chat {
    margin: auto;
    margin-left: 0;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */